<html>
    <body>
        <form action="/promotions" method="POST">
            <div>
                <input type="text" name="message" />
            </div>
            <div>
                <select name="book[id]">
                    <%for(var i=0; i < books.length; i++){%>
                    <option value="<%=books[i].id%>"><%=books[i].title%></option>
                    <%}%>
                </select>
            </div>
            <input type="submit" value="Cadastrar Promoção" />
        </form>
    </body>
</html>