<html>
    <body>
        <form action="/products" method="POST">
            <div>
                <label>Título</label>
                <input type="text" id="title" name="title" placeholder="Título do livro" />
            </div>
            <div>
                <label>Preço</label>
                <input type="text" id="price" name="price" placeholder="30.90" />
            </div>
            <div>
                <label>Descrição</label>
                <textarea cols="20" rows="10" type="text" id="description" name="description" placeholder="Fale sobre o livro"></textarea>
            </div>
            <input type="submit" value="Salvar" />
        </form>
    </body>
</html>