<html>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>descricao</td>
                <td>preco</td>
            </tr>
            <tr>
                <%for(var i=0; i<books.length;i++) {%>
                    <tr>
                        <td><%=books[i].id%></td>
                        <td><%=books[i].title%></td>
                        <td><%=books[i].description%></td>
                        <td><%=books[i].price%></td>
                    </tr>
                <%}%>
            </tr>
        </table>
    </body>
</html>